RewriteEngine On
RewriteBase /8-insight/

# If file or directory exists, do not rewrite
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite '/home' to 'home.php'
RewriteRule ^home/?$ home.php [L]

# Rewrite blog slugs to blog-details.php
RewriteRule ^([^/]+)/?$ blog-details.php?slug=$1 [L,QSA]
